
.navbar{
  background-color: #101010;
}
.nav-item::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #000;
    transition: width .3s;
    letter-spacing: 10px;
}

.nav-item:hover::after {
    width: 100%;
    transition: width .3s;
}
.nav-link {
  font-size: 20px;
}

.container{
    min-height: 100px;
}
.container2{
    background: red;
    min-height: 300px;
}

.center-div
{
     margin: 0 auto;
     width: 100px;
}
.icon {
    width: 100px;
    position: relative;
    opacity: 0.5;
    transition: 0.3s ease;
    cursor: pointer;
}

.icon:hover {
    transform: scale(1.5, 1.5); /** default is 1, scale it to 1.5 */
    opacity: 1;
}

html, body {
  height: 100%;
  width: 100%;
}

body {
background-image: linear-gradient(to right, #FE2323 50%, #FBFBF7 100%);
font-family: "Open Sans", Arial, sans-serif;
}

#schedule-btn {
  background-color: #101010;
}

#schedule-btn:hover {
  background-color: #0A52D0;
}
